@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

.black-login-button {
    /* FIGMA Log In Page, black Log In button */
    /* Rectangle 4219 in FIGMA description */
    box-sizing: border-box;
    position: absolute;
    width: 372px;
    height: 50px;
    left: 248px;
    top: 771px;
    background: #000000;
    border: 3px solid #000000;
    border-radius: 30px;
  }

.google-removebg-preview-1 {
  /* FIGMA Log In Page, google logo */
  /* google removebg preview 1 in FIGMA description */
    position: absolute;
    width: 40px;
    height: 30.92px;
    left: 350px;
    top: 471px;
    background: url(google-removebg-preview);

}

.pet-1 {
  /* FIGMA Log In Page, dog image */
  /* pet 1 in FIGMA description */
  position: absolute;
  width: 593px;
  height: 821px;
  left: 758px;
  top: 170px;
  background: url(pet.jpg);
  border-radius: 0px 30px 30px 0px;
}

.login-input-fieleds {
  /* FIGMA Log In Page, Log In with Google input box; Your Email input box; Password input box */
  /* Rectangle 4216; 4217; 4218 in FIGMA description */
  box-sizing: border-box;

  position: absolute;
  width: 372px;
  height: 50px;
  left: 248px;
  top: 463px;

  /* Middle Color light Orange */
  background: #FFBD89;
  border: 3px solid #FFFDFD;
  border-radius: 10px;

}

.forgot-password-input-field {
  /* FIGMA Log In Page, Forgot password input box */
  /* Forgot password ? in FIGMA description */

  position: absolute;
  width: 210px;
  height: 36px;
  left: 433px;
  top: 719px;

  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;

  /* Service Background Color */
  color: #6A7AFF;
}

/* //////////////////////////////////////////////////////// */

.paws-1 {
  /* FIGMA paw logo on Navigation Bar */
  /* paws 1 in FIGMA description */

  position: absolute;
  width: 117px;
  height: 52px;
  left: 63px;
  top: 16px;
  background: url(paws.jpg);
}

.middle-color-light-orange-login-button {
  /* FIGMA Middle Color light Orange Log In button on Navigation Bar  */
  /* Rectangle 76 in FIGMA description */
  position: absolute;
  width: 132px;
  height: 47px;
  left: 885px;
  top: 22px;

  /* Middle Color light Orange */
  background: #FFBD89;
  border-radius: 50px;
}

.main-color-orange-book-now-button {
  /* FIGMA Main Color Orange Book Now button on Navigation Bar  */
  /* Rectangle 77 in FIGMA description */
  position: absolute;
  width: 132px;
  height: 47px;
  right: 94px;
  top: 22px;

  /* Main Color Orange */
  background: #F19A56;
  border-radius: 50px;
}

/* //////////////////////////////////////////////////////////////////////// */

.home-page {
  /* FIGMA Home Page, frame outline */
  /* Main Page in FIGMA description */
  position: relative;
  /* width: 1440px; */
  /* height: 1024px; */

  background: #FFFFFF;
}

.trialnavbarvladimir {
  /* FIGMA Main Page, trial Navigation Bar from Vladimir */
  /* Rectangle 2 in FIGMA description */

  width: 80%;
  max-width: 1260px;
  height: 84px;
  top: 54px;

  background: #FFFFFF;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.trialnavbarvladimir-container {
  display: flex;
  justify-content: center; /* Horizontally center the navbar */
  align-items: center; /* Vertically center the navbar */
  height: 150px; /* Or adjust as needed */
}

.company-meet {
  /* FIGMA Main Page, container for main part (i.e. Picture of Dog and "Veterinary Company...) */
  /* Company Meet in FIGMA description */

  position: absolute;
  width: 1314px;
  height: 735px;
  left: 36px;
  top: 137px;
}

.dog1 {
  /* FIGMA Main Page, Dog picture on the left */
  /* dog 1 in FIGMA description; dog.png is the name of the image file */

  position: absolute;
  width: 630px;
  height: 630px;
  left: 36px;
  top: 166px;

  background: url(dog.png);
}

.rustaveli-avenue {
  /* FIGMA Main Page, Text on the right with address, phone and working hours */
  /* Rustaveli Avenue 10, Tbilisi +995 511 233 789 Twenty-four hours a day; This is what it is called in FIGMA description; */

  position: absolute;
  width: 425px;
  height: 192px;
  left: 925px;
  top: 137px;

  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #000000;
}

.veterinary-company-in-georgia {
  /* FIGMA Main Page, Text on the right with a header describing name of veterinary practice */
  /* Veterinary Company in Georgia; This is what it is called in FIGMA description; */

  position: absolute;
  width: 982px;
  height: 214px;
  left: 368px;
  top: 278px;

  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 93px;
  text-align: right;

  color: #000000;

}

.as-georgia-leading {
  /* FIGMA Main Page, Text on the right describing the goal of the veterinary practice: to cure animals */
  /* As Georgia’s leading animal health company,; This is what it is called in FIGMA description; */

  position: absolute;
  width: 529px;
  height: 130px;
  left: 821px;
  top: 471px;

  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: right;

  color: #000000;

}


