@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-xs: 485px;
}

@theme {
  --breakpoint-xl: 1285px;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Kiwi Maru", sans-serif;
  background-color: #dbeafe;
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: animatedGradient 6s ease infinite;
  background-size: 200% 200%;
}

@keyframes fadeSwap {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.fade {
  position: absolute;
  inset: 0;
  animation: fadeSwap 6s ease-in-out infinite;
  transition: opacity 1s ease;
}

.fade-in {
  animation-delay: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
  to {
    opacity: 0;
    transform: scale(0.90) translateY(-15px);
    filter: blur(2px);
  }
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

.animate-fadeIn-floating {
  animation: fadeIn 1s forwards, floating 3s ease-in-out infinite;
}

.animate-fadeOut {
  animation-name: fadeOut;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes slow-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
 
.slow-pulse {
  animation: slow-pulse 3s ease-in-out infinite;
}

@keyframes shake {
  0%, 93%, 100% { transform: translateX(0); }
  96% { transform: translateX(-3px); }
  97% { transform: translateX(2px); }
  98% { transform: translateX(-3px); }
  99% { transform: translateX(2px); }
}

@layer components {
  .form-text-select {
    @apply text-white pb-[14px] pt-[14px] focus:outline-none bg-transparent w-full border-b border-transparent;
  }

  .form-text-select:focus {
    @apply border-b border-white bg-transparent text-white;
  }

  .form-text-select option {
    @apply text-black;
  }

  .responsive-text-xl {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl;
  }

  .responsive-text-lg {
    @apply text-sm sm:text-base md:text-lg lg:text-xl;
  }

  .responsive-text-md {
    @apply text-xs sm:text-sm md:text-base;
  }

  .responsive-text-sm {
    @apply text-[10px] sm:text-xs md:text-sm;
  }

  .responsive-text-xs {
    @apply text-[8px] sm:text-[10px] md:text-xs;
  }

  .responsive-button-sm {
    @apply h-3.5 sm:h-4.5 md:h-5.5 px-1 sm:px-2 md:px-3 
  }
}

/* .swiper-pagination-bullet {
  @apply w-4 h-4 bg-white opacity-50 mx-1 rounded-full;
}

.swiper-pagination-bullet-active {
  @apply bg-blue-800 opacity-100 scale-110 transition-transform;
} */

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: white;
  opacity: 0.5;
  margin: 0 6px;
  transition: transform 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #1e40af;
  opacity: 1;
  transform: scale(1.5);
}

.figma-headline {
  font-family: "Kiwi Maru", sans-serif;
  font-size: 4rem; /* 64px */ /* Can use text-6xl since it is 3.75rem (60px) */
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 5.8125rem; /* 93px */
}

.figma-headline-2 {
  font-family: "Kiwi Maru", sans-serif;
  font-size: 2.5rem; /* 40px */ /* Can use text-4xl since it is 2.25rem (36px) */
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 3.625rem; /* 58px */
}

.figma-headline-3 {
  font-family: "Kiwi Maru", sans-serif;
  font-size: 1.5rem; /* 24px */ /* Can use text-2xl since it is 1.5rem (24px) */
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 2.1875rem; /* 35px */
}

.figma-headline-4 {
  font-family: "Kiwi Maru", sans-serif;
  font-size: 1rem; /* 16px */ /* Can use text-base since it is 1rem (16px) */
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 1.4375rem; /* 23px */
}

.figma-headline-5 {
  font-family: "Kiwi Maru", sans-serif;
  font-size: 0.5rem; /* 11px */ /* Can use text-xs since it is 0.75rem (12px) */
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 1rem; /* 16px */
}
