@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

@import "tailwindcss";
@plugin "daisyui";


* {
  box-sizing: border-box;
}


@layer components {
    .form-text-select {
      @apply text-white pb-[14px] pt-[14px] focus:outline-none bg-transparent w-full border-b border-transparent;
    }
  
    .form-text-select:focus {
      @apply border-b border-white bg-transparent text-white;
    }
  
    .form-text-select option {
      @apply text-black;
    }
  }

  /* RULES FOR USING FIGMA TYPOGRAPHY: */

  /* FOUND OUT YOU NEED TO INSERT CSS LIKE .figma-headline INSIDE tailwind.config.js FOR THEM TO WORK WITH
   lg:??? md:??? sm:??? SCREEN SIZE CHANGES */

  /* IF THEY ARE NOT IN USE, IN YOUR PAGES, IT IS FINE FOR NOW. AS LONG AS YOUR TEXT WORKS WITH DIFFERENT SCREEN SIZES */
  /* IF WE DECIDE WE CAN INSERT THESE WHEN WE HAVE MORE TIME IN FUTURE AND ARE SURE THEY WILL NOT BREAK LAYOUT */
  /* IN THE COMMENTS BELOW ARE EQUIVALENTS IN FORM OF TAILWIND FONT SIZES THAT WE CAN USE INSTEAD */
  /* SOME OF YOU HAVE ALREADY USED SOME */
  /* LINE HEIGHTS I AM NOT SURE. BUT IT SHOULD WORK OK. */

  /* LIKE text-6xl CAN BE USED INSTEAD OF .figma-headline IN CODE:
  <h1 className="text-black text-6xl">Some text</h1> INSTEAD OF <h1 className="text-black figma-headline"> */

  /* <h1 className=" text-black lg:figma-headline md:figma-headline-2 figma-headline-3">Some text</h1>
  WILL NOT WORK SINCE CSS overwrites Tailwind AND IT WILL RESULT IN TEXT STAYING THE SAME SIZE EVEN IF YOU CHANGE SCREEN SIZE. */

  /* figma-headline-mobile WAS MY IDEA TO USE figma-headline; figma-headline-2; figma-headline-3; figma-headline-4
  FOR DESKTOP AND TABLET SCREEN SIZES
  AND USE figma-headline-mobile; figma-headline-2-mobile; figma-headline-3-mobile; figma-headline-4-mobile ONLY FOR MOBILE.
  FOR NOW NOT SURE IF WE WILL IMPLEMENT IT */

  .figma-headline {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 4rem; /* 64px in FIGMA */ /* Can use text-6xl since it is 3.75rem (60px) */
    font-weight: 400;
    letter-spacing: 0%; 
    line-height: 5.8125rem; /* 93px in FIGMA */
  }
  
  .figma-headline-2 {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 2.5rem; /* 40px in FIGMA */ /* Can use text-4xl since it is 2.25rem (36px) */
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 3.625rem; /* 58px in FIGMA */  
  }
  
  .figma-headline-3 {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 1.5rem; /* 24px in FIGMA */ /* Can use text-2xl since it is 1.5rem (24px) */
    font-weight: 400;
    letter-spacing: 0%; 
    line-height: 2.1875rem; /* 35px in FIGMA */   
  }
  
  .figma-headline-4 {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 1rem; /* 16px in FIGMA */ /* Can use text-base since it is 1rem (16px) */
    font-weight: 400;
    letter-spacing: 0%; 
    line-height: 1.4375rem; /* 23px in FIGMA */   
  }

  .figma-headline-mobile {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 2.5rem; /* 40px */ /* Can use text-4xl since it is 2.25rem (36px) */
    font-weight: 400;
    letter-spacing: 0%; 
    line-height: 3.625rem; /* 58px */
  }
  
  .figma-headline-2-mobile {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 1.5rem; /* 24px */ /* Can use text-2xl since it is 1.5rem (24px) */
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 2.1875rem; /* 35px */  
  }
  
  .figma-headline-3-mobile {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 1rem; /* 16px */ /* Can use text-base since it is 1rem (16px) */
    font-weight: 400;
    letter-spacing: 0%; 
    line-height: 1.4375rem; /* 23px */   
  }
  
  .figma-headline-4-mobile {
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 0.5rem; /* 11px */ /* Can use text-xs since it is 0.75rem (12px) */ 
    font-weight: 400;
    letter-spacing: 0%; 
    line-height: 1rem; /* 16px */   
  }