Resources:
  EFSAccessPoint:
    Type: AWS::EFS::AccessPoint
    Properties:
      FileSystemId: fs-0e61391c9ee0dfb16
      PosixUser:
        Uid: "1000"
        Gid: "1000"
      RootDirectory:
        Path: "/uploads/images"
        CreationInfo:
          OwnerUid: "1000"
          OwnerGid: "1000"
          Permissions: "0755"

commands:
  01_install_efs_utils:
    command: |
      yum install -y amazon-efs-utils
  02_mount_efs:
    command: |
      mkdir -p /uploads/images
      mount -t efs -o tls,accesspoint=fsap-0dfbfb550b57a6b57 fs-0e61391c9ee0dfb16:/ /uploads/images